$color-primary:  #8abc1c;

// Veeta Custom
$veeta-light-accent-bg: #DBF3EC;
$veeta-light-accent: #6CCDB3;
$veeta-dark-accent: #4C868F;

$veeta-darker-gray: #4d4d4d;
$veeta-dark-gray: #888;
$veeta-gray: #ddd;
$veeta-light-gray: #F5F5F5;

$veeta-highlight:#F15F4C;

$veeta-green: #4C868F;
$veeta-green-lter: #effbd5;
$veeta-green-dker: #4f8d18;

$veeta-red: #C31713;

$bg-gray: $veeta-light-gray;
$bg-light: $veeta-gray;
$bg-dark: $veeta-dark-gray;

//$border-light: #cac9c9;
$border-light: $veeta-gray;

$border-dark: $veeta-dark-gray;

$veeta-font-color: #4D4D4D;
$veeta-font-smooth: $veeta-font-color;
$veeta-font-color-lter: $veeta-dark-gray;
$veeta-font-color-ltest: $veeta-gray;

$veeta-font-color-dker: #4D4D4D;
$veeta-font-color-danger: $veeta-red;

$veeta-border-color: #ccc;

$page-header-height: 65px;
$page-header-with-login-height: 100px;
$page-footer-height: 90px;
$page-wrapper-width: 950px;

// Font sizes
$font-xsmall: 10px;
$font-small: 12px;
$font-normal: 14px;
$font-large: 16px;
$font-heading-small: 20px;
$font-heading-large: 24px;

// Font weights
$font-weight-light: 200;
$font-weight-default: 400;
$font-weight-bold: 500;

// Colors
$brand-primary: $veeta-green;

// Grid system
$grid-columns: 18;
$grid-gutter-width: 10px;

// Media queries breakpoints
// at 1024 the layout changes to 6 columns
// 1|4|4|4|1 -> 6|6|6
// vol-lg-4 -> col-md-6 
$screen-md-min: 1024px;

// Forms
$input-border: $veeta-border-color;
$input-border-focus: $veeta-green;
$input-height-base: 24px;
$input-height-large: 36px;

// Typography
$font-family-sans-serif: geometria, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: museo, Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;
