#app-footer {
  color: $veeta-dark-gray;
  padding: 40px 0;

  ul#footer-nav {
    padding-left: 0px;
    list-style: none;
    li {
      float: left;
      padding-right: 15px;
    }
  }

  a {
    color: $veeta-dark-gray;
    font-weight: $font-weight-default !important;
    text-decoration: none;
    cursor: pointer;
  }
}