#app-header {

  background-color: $veeta-dark-accent;
  // min-height: 65px;
  min-width: 950px;
  border-bottom: solid 6px $veeta-light-accent;
  .logo {
    @extend .pull-left;
    
    margin-left: 10px;
    margin-top: 7px;
    background: url('../images/veeta_logo.png') no-repeat;
    width: 185px;
    height: 53px;
    background-size: contain;
    &.clickable {
      cursor: pointer;
    }
  }

  .header-nav {
    @extend .nav;
    @extend .navbar-nav;
    @extend .navbar-right;

    margin-top: 1.5em;
    margin-right: 0em;
    span {
      > a {
        color: white;
        background-color: transparent !important;
      }
    }
    a:focus {
      background-color: transparent;
    }

    > li {
      a:focus {
        background-color: transparent;
      }

      &.open {
        > a,
        > a.hover,
        > a.focus {
          background-color: transparent;
        }
      }
    }
  }
}