doctype html
html
  head
    meta(charset='utf-8')
    title myVeeta Talent Explorer
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    base(href='@@BASE_URL')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='myVeetaTalentExplorerApp')
    
    #app(ui-view='')
    
    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-messages/angular-messages.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-cookie/angular-cookie.js')
    script(src='bower_components/ng-token-auth/dist/ng-token-auth.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbower
    // endbuild
    
    // build:js({.tmp,app}) scripts/scripts.js
    // injector:js
    script(src="scripts/app.js")
    script(src="scripts/common/config/constants.js")
    script(src="scripts/common/config/states.js")
    script(src="scripts/common/module.js")
    script(src="scripts/common/controllers/app.js")
    script(src="scripts/common/controllers/inside.js")
    script(src="scripts/common/directives/footer.js")
    script(src="scripts/common/directives/header.js")
    script(src="scripts/components/dashboard/module.js")
    script(src="scripts/components/dashboard/controllers/overview.js")
    // endinjector
    // endbuild
