@font-face {
  font-family: "ProximaNovaRegular";
  src: font-url("ProximaNova-RegularWeb.eot");
  src: font-url("ProximaNova-RegularWeb.eot?#iefix") format("embedded-opentype"),
  font-url("ProximaNova-RegularWeb.woff") format("woff"),
  font-url("ProximaNova-RegularWeb.ttf") format("truetype");
}
