#app-footer
  .container
    ul#footer-nav
      li
        a
          | Home
      li
        a  
          | Contact
      li
        a
          | About
      li
        a
          | Terms & Conditions