#app-header
    .logo.clickable(ui-sref='app.dashboard')
    .collapse.navbar-collapse
      ul.header-nav
        span(uib-dropdown='', on-toggle='toggled(open)')
          a#simple-dropdown(href='', uib-dropdown-toggle='')
            | Hello User!
            span.caret
          ul.dropdown-menu(uib-dropdown-menu='', aria-labelledby='simple-dropdown')
            li
              a(href='') Settings
            li
              a(href='') Logout  